section.event-desc
  h2.title-section Описание
  .event-desc__main
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequuntur dolorem excepturi id libero modi neque recusandae ullam voluptates! Cum, debitis delectus dignissimos exercitationem fuga nobis quae sed sint voluptatum?
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequuntur dolorem excepturi id libero modi neque recusandae ullam voluptates! Cum, debitis delectus dignissimos exercitationem fuga nobis quae sed sint voluptatum?

  button.event-desc__show-more-btn Показать больше
