.event-header

  &__container
    display: grid
    grid-template-columns: 60% 1fr
    grid-template-rows: auto 1fr
    column-gap: 2%
    @media (max-width: $width-mobile)
      display: flex
      flex-direction: column

  &__title
    grid-column: 2/3
    grid-row: 1/2
    font-weight: 600
    font-size: 26px
    span
      margin-top: 16px
      padding: 4px 14px
      width: fit-content
      font-size: 20px
      display: block
      font-weight: 400
      background-color: $light-yellow
      border-radius: 8px
    @media (max-width: $width-mobile)
      margin-bottom: 24px

  &__slider
    grid-column: 1/2
    grid-row: 1/3

  &__slide
    overflow: hidden
    border-radius: 16px
    height: 450px
    img
      width: 100%
      height: 100%
      object-fit: cover
    @media (max-width: 768px)
      height: 300px
    @media (max-width: 480px)
      height: 230px

  &__info
    grid-column: 2/3
    grid-row: 2/3

  &__duration
    display: flex
    flex-wrap: wrap
    gap: 6px 12px
    margin-top: 24px
    font-size: 18px
    i
      font-style: normal
      text-decoration: underline
    &-value
      white-space: nowrap
      font-weight: 500

  &__price
    display: inline-block
    white-space: nowrap
    gap: 24px
    padding-left: 12px
    border-left: 4px solid $yellow
    font-size: 24px
    font-weight: 600
    margin: 24px 0 9px

  &__button
    margin-top: 24px



