section.event-header
  .event-header__container
    h1.event-header__title Экскурсия дворцы Санкт-Петербурга
      span с посещением Владимирского дворца

    .event-header__slider.swiper
      .swiper-wrapper.event-header__slider-wrapper

        .swiper-slide.event-header__slide
          img(src="https://static.tildacdn.com/tild3562-3033-4461-a464-613539326666/D5FEBFDE-97C1-47E2-B.jpeg")
        .swiper-slide.event-header__slide
          img(src="https://static.tildacdn.com/tild6532-3034-4434-a432-396436363236/hywwuGW_NyUHoW7W-le4.jpg")
        .swiper-slide.event-header__slide
          img(src="https://static.tildacdn.com/tild6633-3066-4761-b462-613437303565/5UHBrgjtglgDa3YKrDBR.jpg")



    .event-header__info
      .event-header__duration
        i Длительность:
        span.event-header__duration-value 3ч в группе (4ч индивидуально)
      span.event-header__price от 600 ₽
      a.event-header__button.button.button--accent(href="##") Забронировать

