extends ../layouts/main

block variables
  - var title = "SPB Travel Group | Дворцы Санкт-Петербурга"
  - var pageClass = ''
  - var activePage = 'index'

block content

  include ../components/event/event-dvorcy-sankt-peterburga


  include ../components/feedback/feedback




