.event__anchors
  overflow: hidden
  padding: 16px 24px
  background-color: $light-yellow
  border-radius: 8px
  @media (max-width: $width-mobile)
    padding: 8px 16px

  &-list
    display: flex
    align-items: center
    gap: 16px
    justify-content: space-around
    overflow: auto
    @media (max-width: $width-mobile)
      gap: 8px 16px
      justify-content: initial

  &-item
    white-space: nowrap

  &-link
    @include fontSize(14, 18)
    font-weight: 500
    &:hover
      opacity: 0.9

