.event__anchors

  ul.event__anchors-list
    li.event__anchors-item
      a.event__anchors-link(href="##") Информация
    li.event__anchors-item
      a.event__anchors-link(href="##") Описание
    li.event__anchors-item
      a.event__anchors-link(href="##") Памятка туристам
    li.event__anchors-item
      a.event__anchors-link(href="##") Маршрут

