section.event-info
  h2.title-section Информация

  ul.event-info__list

    li.event-info__item
      span.event-info__item-name Длительность:
      span.event-info__item-text 3 часа в группе (4 часа индивидуально)

    li.event-info__item
      a.event-info__item-link(href="") Посмотреть маршрут экскурсии

    li.event-info__item
      span.event-info__item-name Расписание:
      span.event-info__item-text отправление (вт, сб) в 13:00

    li.event-info__item
      span.event-info__item-name Отправление:
      a.event-info__item-link(href="") Невский пр-т, 35, Гостиный Двор

    li.event-info__item
      span.event-info__item-name Скидки:
      | льготный билет: студенты, школьники, дети, пенсионеры, инвалиды

    li.event-info__item
      span.event-info__item-name От 10 человек
      span.event-info__item-text действует индивидуальный тариф.

    li.event-info__item
      span.event-info__item-name Остановки:
      span.event-info__item-text Михайловский замок, Шереметевский дворец, Стрелка Васильевского острова.

    li.event-info__item
      span.event-info__item-name Язык экскурсии:
      span.event-info__item-text Русский или любой международный в индивидуальном формате



