.event-info
  background-color: #fff
  padding: 16px
  border-radius: 8px

  &__list
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 16px 36px
    @media (max-width: $width-mobile)
      grid-template-columns: 1fr
      gap: 8px

  &__item
    position: relative
    @include fontSize(14, 18)
    &-name
      font-weight: 500
      margin-right: 8px

    &::before
      content: "✓"
      color: $yellow
      margin-right: 8px
      font-size: 18px



