.booking-module(style="background-image: url('https://s3-alpha-sig.figma.com/img/a1bf/41b4/e014d537c00271979d498aaefbf63ce9?Expires=1676851200&Signature=hMJotoEHh5J6AkKrmjLQTiES5OluzWgu3vd70yzWtrfyozfByQ7O~FuOWjgYittCVQZwUsuT-bBi1kOUT~lf-JRrsv-BXTYN8k3L0qo4UcmMrUdabKC3LLRpv9NYtF5ajq1V9NWtsz0JEh4pDxjhM4dWUbUnpNnJzhYuv3AQJafomArTqTJQm3UmKhei4fG0qvIloJgmJZvCoWO7lWX8LsXZrFLDfqlWa0XVYv17gkmmddo3A2hAMysIrT1HOetc8ynud4FHSRArNEkrG-kFXI2HVYnWhGx2WjZXXUcuWMnJmjYoHF-sJds415VyspShsBsacUKihsdix1JDmHzk3Q__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4')")
  .booking-module__container.container

    img.booking-module__logo(src="./assets/img/logo-sp.svg")

    .booking-module__text
      p «СОЧИ ПАРК ОТЕЛЬ»&nbsp;— это гостинично-оздоровительный комплекс в&nbsp;самом сердце Олимпийского парка в&nbsp;Сириусе. Предлагаем вам полноценный отдых в&nbsp;уникальной субтропической климатической зоне на&nbsp;побережье Черного моря с&nbsp;видом на&nbsp;заснеженные вершины Кавказских гор. Отель соответствует категории 3*&nbsp;и&nbsp;включает 12&nbsp;корпусов высотой 8&nbsp;этажей с&nbsp;номерным фондом 2880 номеров от&nbsp;«Стандарта» до&nbsp;«Супериор люкс»
      p Официальный сайт «СОЧИ&nbsp;ПАРК&nbsp;ОТЕЛЬ» в разработке и скоро будет запущен по данному адресу. Вы можете воспользоваться модулем бронирования ниже.

    form.booking-module__form

      .booking-module__form-input-wrapper
        label(for="check_in") Заезд
        input#check_in(type="date" name="check_in")

      .booking-module__form-input-wrapper
        label(for="departure") Выезд
        input#departure(type="date" name="departure" )

      .booking-module__form-input-wrapper.booking-module__form-input-wrapper--guests
        label(for="guests") Гости
        select#guests
          option(value="2 взрослых, 0 детей") 2 взрослых, 0 детей
          option(value="2 взрослых, 1 ребенок") 2 взрослых, 1 ребенок
          option(value="2 взрослых, 2 детей") 2 взрослых, 2 детей
          option(value="2 взрослых, 3 детей") 2 взрослых, 3 детей


      button.booking-module__form-button(type="submit") найти номер
